<div class="profileContainer" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="space-around">

  <mat-card class="example-card" fxFlex="30" fxFlex.sm="90" fxLayout="column">

    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>

    <form #register="ngForm" class="input" fxLayout="column" fxLayoutAlign="space-around center">
      <mat-form-field class="input">
        <mat-label>Name</mat-label>
        <input [(ngModel)]="name" name="name" matInput>
      </mat-form-field>
      <br>
      <mat-form-field class="input">
          <mat-label>Username</mat-label>
          <input matInput [(ngModel)]="username" name="username" >
      </mat-form-field>
      <br>
      <mat-form-field class="input">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="email" name="email" email>
        <mat-error *ngIf="!email"> Validation</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="input">
          <mat-label>Password</mat-label>
          <input matInput [(ngModel)]="password" name="password">
      </mat-form-field>
      <br>

    </form>

    <mat-card-content>
      
    </mat-card-content>

    <mat-card-actions fxLayout="row wrap" fxLayoutAlign="space-evenly center">
      <button mat-button
      [routerLink]="['/']"
      routerLinkActive="router-link-active"
      (click)="register.reset()"
      color="warn">
      CANCEL</button>
      <button mat-button (click)="onRegister(register)" color="primary">REGISTER</button>
    </mat-card-actions>

  </mat-card>

</div>
