<div class="profileContainer" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="space-around">

  <mat-card class="example-card" fxFlex="30" fxFlex.sm="90" fxLayout="column">

    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>

    <form #register="ngForm" [formGroup]="registerForm" class="input" fxLayout="column" fxLayoutAlign="space-around center">
      <mat-form-field class="input">
        <mat-label>Name</mat-label>
        <input matInput required formControlName="name">
        <mat-hint>Nome completo</mat-hint>
      </mat-form-field>
      <br>
      <mat-form-field class="input">
          <mat-label>Username</mat-label>
          <input matInput required formControlName="username">
          <mat-hint>Mínimo de 4 caracteres</mat-hint>
          <mat-error *ngIf="registerForm.controls.username.invalid">Não contém 4 caracteres</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="input">
        <mat-label>Email</mat-label>
        <input matInput required formControlName="email" email>
        <mat-hint>Utilize um email válido que você tenha acesso</mat-hint>
        <mat-error *ngIf="registerForm.controls.email.invalid" > Isto não é um email </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="input">
          <mat-label>Password</mat-label>
          <input matInput required formControlName="password" type="password">
          <mat-hint>A senha deverá ter no mínimo 8 caracteres, 1 letra maiúscula, 1 letra minúscula e 1 número</mat-hint>
          <mat-error *ngIf="registerForm.controls.password.hasError('hasNumber')">Falta 1 número</mat-error>
          <mat-error *ngIf="registerForm.controls.password.hasError('hasCapitalCase')">Falta 1 maiúscula</mat-error>
          <mat-error *ngIf="registerForm.controls.password.hasError('hasSmallCase')">Falta 1 minúscula</mat-error>
          <mat-error *ngIf="registerForm.controls.password.hasError('minlength')">A senha deve ter 8 caracteres ou mais</mat-error>
      </mat-form-field>
      <br>

    </form>

    <mat-card-content>
      
    </mat-card-content>

    <mat-card-actions fxLayout="row wrap" fxLayoutAlign="space-evenly center">
      <button mat-button
      routerLinkActive="router-link-active"
      (click)="registerForm.reset()"
      color="warn">
      LIMPAR</button>
      <button mat-button [disabled]="!registerForm.valid" (click)="onRegister()" color="primary">REGISTRAR</button>
    </mat-card-actions>

  </mat-card>

</div>
