<div class="profileContainer" fxLayout="row" fxLayoutAlign="space-around">
    <mat-card class="example-card" fxLayout="column">
        <mat-card-header fxLayout="row" fxLayoutAlign="space-between">

            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title *ngIf="profile">{{profile.name}}</mat-card-title> 
            <mat-card-subtitle *ngIf="profile">{{profile.email}}</mat-card-subtitle>

            <button mat-button color="primary">
                <mat-icon>edit</mat-icon>
            </button>

        </mat-card-header>   

        <mat-card-content fxLayout="column" fxLayoutAlign="space-around">
            
            <mat-chip-list class="tags" fxFlex fxLayout="row wrap" fxLayoutAlign="space-evenly center">
                <mat-chip>Bookworm</mat-chip>
                <mat-chip>Librarian</mat-chip>
                <mat-chip color="primary" selected>Verified</mat-chip>
                <mat-chip color="accent" selected>Reviewer</mat-chip>
            </mat-chip-list>

            <div class="profileActions" fxLayout="row wrap" fxLayoutAlign="space-around center">

                <button mat-button (click)="logout()" color="accent" fxFlex="40">
                    <mat-icon>person_outline</mat-icon>
                    <span>SAIR</span>
                </button>
    
                <button mat-button color="primary" color="warn" fxFlex="40">
                    <mat-icon>delete</mat-icon>
                    <span>EXCLUIR</span>
                </button>

            </div>
            

        </mat-card-content>

    </mat-card>

</div>
