.mat-toolbar {
  background-color: #1f1f1f;
  width: 100%;
  padding: 5px;
}

h3{
  font-family: 'Lobster', cursive;
  letter-spacing: 3px;
  font-size: 35px;
}
 
.navLinks button{
  margin: 0 5px;
}

.mat-menu-item{
  margin: 0;
}

.mobileMenu{
  display: none;
  justify-content: center;
  align-items: center;
}