<div class="toolbar">
  <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" color="primary">

    <div class="logo"><h3>LivreO</h3></div>
    <div class="navLinks" fxLayout="row" fxLayoutAlign="space-between center" fxShow.lt-md="false">

      <button
      type="button"
      mat-stroked-button
      [routerLink]="['/']"
      routerLinkActive="router-link-active">
      Home
      </button>

      <button
          type="button"
          mat-stroked-button
          [routerLink]="['/profile']"
          routerLinkActive="router-link-active">
          Profile
      </button>

      <button
          type="button"
          mat-stroked-button
          [routerLink]="['/dashboard']"
          routerLinkActive="router-link-active">
          Dashboard
      </button>
    </div>

    <button class="mobileMenu"
          type="button"
          mat-icon-button
          [matMenuTriggerFor]="menu"
          fxShow="false" fxShow.lt-md="" fxLayout="row" fxLayoutAlign="center center">
          <mat-icon>account_circle</mat-icon>
    </button>

  </mat-toolbar>

  <mat-menu #menu="matMenu">
    <button
      type="button"
      mat-menu-item
      [routerLink]="['/']"
      routerLinkActive="router-link-active">
      <mat-icon>home</mat-icon>
      <span>HOME</span>
    </button>

    <button
      type="button"
      mat-menu-item
      [routerLink]="['/profile']"
      routerLinkActive="router-link-active">
      <mat-icon>person</mat-icon>
      <span>PROFILE</span>
    </button>

    <button
      type="button"
      mat-menu-item
      [routerLink]="['/dashboard']"
      routerLinkActive="router-link-active">
      <mat-icon>assignment</mat-icon>
      <span>DASHBOARD</span>
    </button>
  </mat-menu>

</div>

